@model IEnumerable<events_groupe4.Models.Event>

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>

<h2> Liste des Evenements </h2>

<p>
    @Html.ActionLink("Création d'un nouveau évenement ", "Create")
</p>

<div class="container">
    <table class="table">

        <thead class="thead-dark">
            <tr>
               
                <th>
                    @Html.DisplayNameFor(model => model.Titre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateDebut)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateFin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.publie)
                </th>
          
            </tr>
        </thead>


        @foreach (var item in Model)
        {
            <tr>
           
                <td>
                    @Html.DisplayFor(modelItem => item.Titre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateDebut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateFin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.publie)
                </td>
                <td>
                    @Html.ActionLink("Modifier", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Supprimer", "Delete", new { id = item.Id })


                </td>
            </tr>
        }

    </table>
</div>
</html>